:root {
	background: linear-gradient(45deg, #d7d4d1, #d4f9e3);
	color: rgba(62, 77, 51, 1);
}

html {
	scroll-behavior: smooth;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-main);
}

@import "./base/reset.scss";
