.hiking {
    position: relative;
    padding: 30px;
    min-height: 100vh;
    overflow: hidden;

    .container {
        max-width: 1280px;
        padding: 0 20px;
        margin: 0 auto;
    }

    &-title {
        color: rgba(62, 77, 51, 1);
        font-family: var(--font-title);
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
    }

    .filters {
        display: flex;
        justify-content: flex-start;
        column-gap: 22px;
        flex-wrap: wrap;
        padding: 17px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        background: rgba(160, 160, 160, 0.2);
        border-radius: 16px;

        margin-top: 24px;
    }

    .filter {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: flex-start;

        &-header {
            display: flex;
            column-gap: 8px;
            align-items: center;
            justify-content: flex-start;

            color: rgba(37, 44, 33, 1);
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
        }
    }
}