.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 12px 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.2);

    ul {
        display: flex;
        justify-content: center;
        column-gap: 50px;

        li {

            &:first-child a img {
                filter: brightness(0) saturate(100%) invert(39%) sepia(8%) saturate(1000%) hue-rotate(62deg) brightness(97%) contrast(89%);
            }
            
            a {
                color: rgba(87, 103, 76, 1);
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;

                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 8px;

                img {
                    width: 22px;
                }

                &.active {
                    color: rgba(184, 103, 46, 1);

                    img {
                        filter: brightness(0) saturate(100%) invert(45%) sepia(60%) saturate(600%) hue-rotate(346deg) brightness(95%) contrast(90%);
                    }
                }
            }
        }
    }
}